<h1>Sign Into our Library System!</h1>

<%=form_for @user, url:'/sessions', method: 'post' do |f| %>
	<div>
		<%=f.text_field :email, placeholder: "Email" %>
	</div>
	<div>
		<%=f.password_field :password, placeholder: "Password" %>
	</div>
	<%=f.submit "Sign into the Library!" %>
<%end%>

<div>
	<%flash.each do |name,message|%>
		<%=message%>
	<%end%>